[
  {
    "Service" :"towngas", 
    "Username": "xxxxxxx",
    "Password": "xxxxxxxxx"
  },
  {
    "Service" :"clp", 
    "Username": "xxxxxxx",
    "Password": "xxxxxxxxx"
  },
  {
    "Service" :"wsd", 
    "Username": "xxxxxxx",
    "Password": "xxxxxxxxx"
  }
]
